.section { 
   
padding: 96px 0 40px 0; 
@media(max-width: 1200px){ 
padding: 80px 0 16px 0; 
}
.container{ 
  @media (max-width: 600px) {
      
  }
  .grid{ 
    grid-template-columns: 1fr 1fr;
    align-items: start;
    @media(max-width: 1000px){ 
      grid-template-columns: 1fr; 
      gap: 16px; 
    }
    .contentWrapper{ 
     
  
    }
    .formWrapper{ 
      padding: 8px 24px 24px 24px; 
      background: var(--light-surface-container-low); 
      @media(max-width: 600px){ 
        padding: 8px 16px 16px 8px; 
      }
      @media(min-width: 1000px){ 
        position: sticky; 
        top: 0;  
    }
    }
  }
} 
}